<div class="row">

</div>
<div>
	<div class="row">
        <ul class="social-btns center-block">
            <li><button class="btn btn-facebook"><i class="fa fa-facebook pull-left" aria-hidden="true"></i>Sign in with Facebook</button></li>
            <li><button class="btn btn-twitter"><i class="fa fa-twitter pull-left" aria-hidden="true"></i>Sign in with Twitter</button></li>
            <li><button class="btn btn-linkedin"><i class="fa fa-linkedin pull-left" aria-hidden="true"></i>Sign in with Linkedin</button></li>
            <li><button class="btn btn-google"><i class="fa fa-google-plus pull-left" aria-hidden="true"></i>Sign in with Google</button></li>
            <li><button class="btn btn-tumblr"><i class="fa fa-tumblr pull-left" aria-hidden="true"></i>Sign in with Tumblr</button></li>
            <li><button class="btn btn-pinterest"><i class="fa fa-pinterest-p pull-left" aria-hidden="true"></i>Sign in with Pinterest</button></li>
        </ul>
    </div>
</div>