@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

.social-btns{
    font-size: 22px;
    list-style: none;
}

.social-btns li{
    margin-bottom: 5px;
}

.social-btns li i{
    font-size: 22px;
}

.social-btns .btn-facebook {
  background-color: #38519f;
  border-color: #293b75;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-facebook:hover {
  color: #ffffff;
  background-color: #293b75;
}

.social-btns .btn-twitter {
  background-color: #00a8fa;
  border-color: #048cce;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-twitter:hover {
  color: #ffffff;
  background-color: #048cce;
}

.social-btns .btn-linkedin {
  background-color: #00629e;
  border-color: #044a75;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-linkedin:hover {
  color: #ffffff;
  background-color: #044a75;
}

.social-btns .btn-google {
  background-color: #df270b;
  border-color: #a01b03;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-google:hover {
  color: #ffffff;
  background-color: #a01b03;
}

.social-btns .btn-tumblr{
    background-color: #274665;
    border-color: #182b3d;
    color: #ffffff;
    min-width: 250px;
}

.social-btns .btn-tumblr:hover {
  color: #ffffff;
  background-color: #182b3d;
}

.social-btns .btn-pinterest{
    background-color: #cc0000;
    border-color: #9b0404;
    color: #ffffff;
    min-width: 250px;
}

.social-btns .btn-pinterest:hover {
  color: #ffffff;
  background-color: #9b0404;
}